<% if user_signed_in? %>
    <span>Здравствуйте, <%= current_user.email %></span>
    <%= link_to 'Выйти', destroy_user_session_path, :method => :delete %>
<% else %>
    <%= link_to 'Войти', new_user_session_path %> или <%= link_to 'Зарегистрироваться', new_user_registration_path %>
<% end %>

<div id="form_error"></div>
<%= form_for :task, url: 'tasks/new', remote: true do |f| %>

  <p>
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.label :content %><br>
    <%= f.text_area :content %>
  </p>
 
  <p>
    <%= f.submit %>
  </p>
<% end %>

<h1>Список дел</h1>
 
<table>
  <tr>
    <th>Заголовок</th>
    <th>Содержание</th>
    <th></th>
  </tr>
 
  <% @tasks.each do |task| %>
    <tr class="task">
      <td><%= task.title %></td>
      <td><%= task.content %></td>
    </tr>
  <% end %>
</table>